/*---------------COLORES----------------*/
:root{
    --first-color: #ff5171;
    --second-color:#420a0a;
    --white:#fff;
    --black: rgb(15, 17, 19);
    --grey: rgb(31, 31, 31);

}
html{
    background: var(--black) !important;
}
body{
    color: var(--white);
    background-color: var(--black);
}

/*---------------ClASES CSS----------------*/
.section-title{
    color: var(--white);
}
.section-title::after{
    background-color: var(--first-color);
}

/*---------------LAYOUT----------------*/
.l-header{
    background-color: var(--grey);
    box-shadow: 0 1px 20px rgba(139, 139, 139, 0.15);
}
/*---------------NAV----------------*/
@media screen and (max-width: 768px) {
    .nav_menu{
        background-color: var(--black);
    }  
}

.nav_link{
    position: relative;
    color: var(--white);

}
.nav_link:hover::after{
    background-color: var(--first-color);
}
.nav_logo{
    color: var(--white);
}
.nav_toggle{
    color: var(--white);
}
/*Active Menu*/
.active::after{
    background-color: var(--first-color);
}

/*---------------HOME---------------*/
/*home data*/
.home{
    background-color: var(--grey);
}
.home_up{
    color: var(--second-color);
}
.home_title{
    color: var(--white)

}
.home_title-color{
    color: var(--first-color);
}
/*home social icons*/

.home_social-icon{
    color: var(--first-color);
}
.home_social-icon:hover{
    color: var(--white);
}

/*botones*/
.button{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--first-color);
}
.button:hover{
    background-color: var(--second-color);
    color: var(--white);
}

/*---------------Skills----------------*/



.box:hover h4{
    color: var(--white);
}
.box .icon{
    color: var(--first-color);    
}
.box:hover .icon{
    color: var(--white);
}

/*------Button Dark-Mode-------------*/
.btn-float{
    background: var(--grey);
    border: 2px solid var(--first-color);
}
.bx-sun{
    color: var(--first-color);
}

/*---------------media----------------*/

@media screen and (min-width: 769px){
    .nav_link{
        color: var(--white);
    }
    .nav_link:hover::after{
        background-color: var(--first-color);
    }
}





